body,
.App {
  height: 100%;
}

h1 {
  text-transform: capitalize;
  margin: 0 0 24px 0;
}

main,
footer {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
}

p {
  margin: 12px 0;
}

footer p {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
